<section class="about-us" id="about-us">
  <div class="container">
    <div class="about-us-title-wrapper">
      <h2 class="about-us-title">Чому Хатинка Лапок</h2>
    </div>
    <div class="about-us-wrapper">
      <div class="swiper about-us-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <!-- #region Slide 1 -->
          <div class="swiper-slide about-us-slide">
            <picture class="about-us-pict">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /img/webp/about-us/desk/us-one-desktop.webp   1x,
                  /img/webp/about-us/desk/us-one-desktop@2.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/webp/about-us/tablet/us-one-tablet.webp   1x,
                  /img/webp/about-us/tablet/us-one-tablet@2.webp 2x
                "
              />
              <img
                srcset="
                  /img/webp/about-us/mobil/us-one-mobil.webp   1x,
                  /img/webp/about-us/mobil/us-one-mobil@2.webp 2x
                "
                src="/img/webp/about-us/mobil/us-one-mobil.webp"
                alt="Жінка присіла навпочіпки та простягає руку до собаки"
              />
            </picture>
            <div class="about-us-content">
              <p class="about-us-text">
                Все почалося у 2015 році з кількох небайдужих людей та одного
                врятованого собаки. Сьогодні ми — один з найбільших притулків у
                регіоні, але наша мета незмінна: дати другий шанс тим, кого
                зрадили.
              </p>
            </div>
          </div>
          <!-- #endregion -->
          <!-- #region Slide 2 -->
          <div class="swiper-slide about-us-slide">
            <picture class="about-us-pict">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /img/webp/about-us/desk/us-two-desktop.webp   1x,
                  /img/webp/about-us/desk/us-two-desktop@2.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/webp/about-us/tablet/us-two-tablet.webp   1x,
                  /img/webp/about-us/tablet/us-two-tablet@2.webp 2x
                "
              />
              <img
                srcset="
                  /img/webp/about-us/mobil/us-two-mobil.webp   1x,
                  /img/webp/about-us/mobil/us-two-mobil@2.webp 2x
                "
                src="/img/webp/about-us/mobil/us-two-mobil.webp"
                alt="Порівняння собаки до та після порятунку і реабілітації"
              />
            </picture>
            <div class="about-us-content">
              <p class="about-us-text">
                Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
                безпритульних тварин. Наша мета — не просто дати прихисток, а й
                забезпечити кожному "хвостику" щасливе та повноцінне життя в
                новій родині.
              </p>
            </div>
          </div>
          <!-- #endregion -->
          <!-- #region Slide 3 -->
          <div class="swiper-slide about-us-slide">
            <picture class="about-us-pict">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /img/webp/about-us/desk/us-third-desktop.webp   1x,
                  /img/webp/about-us/desk/us-third-desktop@2.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/webp/about-us/tablet/us-thrid-tablet.webp   1x,
                  /img/webp/about-us/tablet/us-thrid-tablet@2.webp 2x
                "
              />
              <img
                srcset="
                  /img/webp/about-us/mobil/us-thrid-mobil.webp   1x,
                  /img/webp/about-us/mobil/us-thrid-mobil@2.webp 2x
                "
                src="/img/webp/about-us/mobil/us-third-mobil.webp"
                alt="Волонтери в притулку тримають на руках собак і котів"
              />
            </picture>
            <div class="about-us-content">
              <p class="about-us-text">
                "Хатинка Лапок" — це команда професійних ветеринарів, кінологів
                та десятків волонтерів, які щодня вкладають свою душу та час у
                турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
                залежить від нас.
              </p>
            </div>
          </div>
          <!-- #endregion -->
          <!-- #region Slide 4 -->
          <div class="swiper-slide about-us-slide">
            <picture class="about-us-pict">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /img/webp/about-us/desk/us-four-desktop.webp   1x,
                  /img/webp/about-us/desk/us-four-desktop@2.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/webp/about-us/tablet/us-four-tablet.webp   1x,
                  /img/webp/about-us/tablet/us-four-tablet@2.webp 2x
                "
              />
              <img
                srcset="
                  /img/webp/about-us/mobil/us-four-mobil.webp   1x,
                  /img/webp/about-us/mobil/us-four-mobil@2.webp 2x
                "
                src="/img/webp/about-us/mobil/us-four-mobil.webp"
                alt="Облаштований майданчик з тренувальними конструкціями для собак у притулку"
              />
            </picture>
            <div class="about-us-content">
              <p class="about-us-text">
                Ми створили безпечний та комфортний простір. Кожна тварина
                отримує якісне харчування, своєчасну ветеринарну допомогу,
                проходить соціалізацію та гуляє на спеціально обладнаних
                майданчиках.
              </p>
            </div>
          </div>
          <!-- #endregion -->
          <!-- #region Slide 5 -->
          <div class="swiper-slide about-us-slide">
            <picture class="about-us-pict">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /img/webp/about-us/desk/us-five-desktop.webp   1x,
                  /img/webp/about-us/desk/us-five-desktop@2.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/webp/about-us/tablet/us-five-tablet.webp   1x,
                  /img/webp/about-us/tablet/us-five-tablet@2.webp 2x
                "
              />
              <img
                srcset="
                  /img/webp/about-us/mobil/us-five-mobil.webp   1x,
                  /img/webp/about-us/mobil/us-five-mobil@2.webp 2x
                "
                src="/img/webp/about-us/mobil/us-five-mobil.webp"
                alt="Жінка обіймає собаку"
              />
            </picture>
            <div class="about-us-content">
              <p class="about-us-text">
                Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
                волонтером, допомогти фінансово або інформаційно. Кожен
                маленький внесок наближає нас до великої мети — світу без
                безпритульних тварин.
              </p>
            </div>
          </div>
          <!-- #endregion -->
        </div>
      </div>
      <div class="about-us-controls">
        <!-- If we need pagination -->
        <div class="swiper-pagination about-us-swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="about-us-buttons">
          <button class="swiper-button-prev about-us-button-prev">
            <svg class="about-us-svg" width="48" height="48">
              <use href="/public/sprite.svg#icon-arrow_left"></use>
            </svg>
          </button>
          <button class="swiper-button-next about-us-button-next">
            <svg class="about-us-svg" width="48" height="48">
              <use href="/public/sprite.svg#icon-arrow_right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
