<section class="hero" id="hero">
    <div class="container hero-container">
        <div class="hero-content">
            <h1 class="hero-title fade-in-element">Кожне життя має значення. Знайди свого вірного друга</h1>

            <p class="hero-description fade-in-element">
                Наш притулок «Хатинка лапок» допомагає безпритульним тваринам знайти новий дім та люблячу родину.
            </p>


            <a href="#success-stories" class="hero-button fade-in-element">Подивитись історії</a>
        </div>
    </div>
</section>