<div class="backdrop-order is-hidden">
  <section class="application" id="application">
    <button type="button" class="app-modal-close">&times;</button>
    <div class="application-content">
      <h2 class="app-modal-title">Залишіть заявку на знайомство</h2>

      <form class="app-modal-form">
        <div class="modal-field">
          <label for="name" class="modal-label"
            >Ім’я <span aria-hidden="true">*</span></label
          >

          <input
            id="name"
            name="name"
            type="text"
            maxlength="32"
            class="modal-input"
            placeholder="Андрій"
            required
          />
          <p class="modal-error-text">Введіть ім’я</p>
        </div>

        <div class="modal-field">
          <label for="phone" class="modal-label"
            >Телефон <span aria-hidden="true">*</span></label
          >

          <input
            id="phone"
            name="phone"
            type="tel"
            class="modal-input"
            placeholder="380955559922"
            required
          />

          <p class="modal-error-text">Введіть номер телефону</p>
        </div>

        <div class="modal-field">
          <label for="comment" class="modal-label">Коментар</label>

          <textarea
            id="comment"
            name="comment"
            maxlength="500"
            class="modal-textarea"
            placeholder="Напишіть ваш коментар"
          ></textarea>
        </div>

        <button type="submit" class="modal-button" disabled>Надіслати</button>
      </form>
    </div>
  </section>
</div>
